<div id="<%= dom_id meal %>">
  <p>
    <strong>Name:</strong>
    <%= meal.Name %>
  </p>

  <p>
    <strong>Main ingredients:</strong>
    <%= meal.Main_Ingredients %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= meal.Time %>
  </p>

    <p>
    <strong>Price:</strong>
    <%= meal.Price %>
  </p>

</div>
